body{
    font-family: 'Lato', sans-serif;
}
.wrapper{
    width: 1170px;
    margin: auto;
}
header{
    background: linear-gradient(rgba(1,0,1,0.8),rgba(1,0,1,0.8)),url(../../assets/hysacam.jpg);
    height: 100vh;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    position: relative;
}
.nav-area{
    float: right;
    list-style: none;
    margin-top: 30px;
}
.nav-area li{
    display: inline-block;
}
.nav-area li a {
  color: #fff;
  text-decoration: none;
  padding: 5px 20px;
  font-family: poppins;
  font-size: 16px;
  text-transform: uppercase;
}
.nav-area li a:hover{
    background: #fff;
    color: #333;
}
.active {
  background-color: #04AA6D;
}
.logo{
    float: left;
}
.logo img{
    width: 100%;
    padding: 15px 0;
}
.welcome-text{
    position: absolute;
    width: 50%;
    height: 50%;
    margin: 20% 30%;
    text-align: center;
}
.welcome-text h1{
    text-align: left;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
}
.welcome-text table{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
}
table{
  overflow-y:scroll;
  overflow-x:scroll;
  height:300px;
  width:800px;
  display:block;
}
table.table-evenodd{
	border-collapse:collapse;
}
table.table-evenodd tr td, th{
	border:1px solid #ccc;
  	padding:5px;
}
table.table-evenodd tbody tr:hover:nth-child(odd){
    background: #ffc4c4;
}
table.table-evenodd tbody tr:hover:nth-child(even){
    background: #b2f8ff;
}
.welcome-text button:hover{
    background: #fff;
    color: #333;
}
@media (max-width:600px){
    .wrapper {
width: 100%;
}
.welcome-text h1 {
  font-size: 30px;
}
}
/* Drop down */
.dropbtn {
    background-color: grey;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: grey;
    min-width: 200px;
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: white;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: grey;}
/*<!-- spinner -->*/

/* form add */
.open-button1 {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  top: 143px;
  left: 108px;
  width: 180px;
}
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  left: 28px;
  width: 280px;
}
.formadd-popup {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: 3px solid #fffff;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  top: 20%;
  left: 50%;
}
.formadd {
  max-width: 300px;
  padding: 10px;
  background-color: #555;
}
.formadd input[type=text] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}
.formadd input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}
.formadd .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}
.formadd .cancel {
  background-color: red;
}
.formadd .btn:hover, .open-button:hover {
  opacity: 1;
}
select{
width: 50%;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -16px;
}
.col-50 {
  -ms-flex: 50%;
  flex: 50%;
}
/* image */
.imgpic {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 100px;
}
.imgpic:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
