<!--<nav class="navbar navbar-expand-lg flex-wrap texColor navbar-dark scrolling-navbar">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarItems"
    aria-controls="navbarItems"
    aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"> </span>
  </button>
  <div class="collapse navbar-collapse" id="navbarItemsNav">
    &lt;!&ndash; Links &ndash;&gt;
    <ul class="navbar-nav mr-auto smooth-scroll" style="color: white; margin-left: 300px">
      <li class="nav-item">
        <a class="nav-link" href="/home" style="color: white">Home</a>
      </li>
      <li  class="nav-item">
        <a   class="nav-link" href="/myavv" style="color: white">Meine AVV</a>
      </li>
      <li  class="nav-item">
        <a   class="nav-link" href="/oldcontrat" style="color: white">Externer Vertrag</a>
      </li>
    </ul>
    <ul class="navbar-nav mr-auto smooth-scroll" style="color: white; margin-left: 300px">
      <li class="nav-item">
        <a class="nav-link" href="/home" style="color: white">Home</a>
      </li>
      <li  class="nav-item">
        <a   class="nav-link" href="/avv" style="color: white"> Auftragnehmer </a>
      </li>
      <li  class="nav-item">
        <a   class="nav-link" href="/oldcontrat" style="color: white">Externer Vertrag</a>
      </li>
      <li>
        <a class="nav-link" href="/profile" style="color: white"
        >Profile</a
        >
      </li>
    </ul>
    <div class="ms-auto">
      <ul
        class="navbar-nav mb-2 mb-lg-1"
        style="color: white; margin-right: 300px"
      >
        <li class="nav-item">
          <a class="nav-link" href="" (click)="logout()" style="color: white">Ausloggen</a>
        </li>
      </ul>
    </div>
  </div>
</nav>-->


<!--<header>
  <div class="wrapper">
    <div class="logo">
      <img src="https://i.postimg.cc/GpdP362Q/logo.png" alt="">
    </div>
    <ul class="nav-area">
      <li><a href="" routerLink="/home" >Home</a></li>
      <li><a href="" routerLink="/drivers">Drivers</a></li>
      <li><a href="" routerLink="/dustbin">Dustbin</a></li>
      <li><a href="" routerLink="/notification">Notification</a></li>
      <li><a href="" (click)="logout()">Logout</a></li>
    </ul>
  </div>
  <div class="welcome-text">
    <h1>We are creative</h1>
    <a href="#">Contact US</a>
  </div>
</header>-->
