
<!--<app-header></app-header>-->

<header>
  <div class="wrapper">
    <div class="logo">
      <img src="https://i.postimg.cc/GpdP362Q/logo.png" alt="">
    </div>
    <ul class="nav-area">
      <li><a href="" routerLink="/home" >Home</a></li>
      <li><a href="" routerLink="/drivers">Drivers</a></li>
      <li><a href="" routerLink="/dustbin">Dustbin</a></li>
      <li><a href="" routerLink="/notification">Notification</a></li>
      <li><a href="" (click)="logout()">Logout</a></li>
    </ul>
  </div>
  <div class="welcome-text">
    <h1>We are creative</h1>
    <a href="#">Contact US</a>
  </div>
</header>
